<h1>Pets</h1>
  <%= image_tag(@pet.image, :size => "200x200") %>
<p>Name: <%= @pet.name %></p>
<p>Description: <%= @pet.description %></p>
<p>Age: <%= @pet.approximate_age %></p>
<p>Gender: <%= @pet.sex %></p>
<p>Adoption Status: <%= @pet.adoption_status %></p>
